MYSQL_HOST=host.docker.internal
MYSQL_PORT=3306
MYSQL_DATABASE=chatserver
MYSQL_USER=chatserver_app
MYSQL_PASSWORD=chatserver_dev_password

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=redis_dev_password
